.App {
  text-align: center;
}

body {
  background-color: #c2c8d4;
}

.container {
  display: flex;
  justify-content: center;
}

h1 {
  color: #126395;
}

.btn {
  padding: 30px;
  margin: 50px;
  background-color: #abbece;
  border-radius: 10px;
  border: 2px solid #e4d7d7;
  box-shadow: inset 0 0 6px #ffefef;
  color: #126395;
  font-size: 18px;
}

.advice {
  background-color: #ffefef;
  width: 400px;
  padding: 50px;
  border-radius: 5px;
  color: #628ca7;
  box-shadow: inset 0 0 6px 6px #789cb3;
}
@media all and (max-width: 400px) {
  img {
    width: 350px;
  }
  .advice {
    width: 350px;
    padding: 50px 10px 50px 10px;
  }
}
