.App {
  text-align: center;
}

body {
  background-image: url('bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-color: #c2c8d4;
}

.container {
  display: flex;
  justify-content: center;
}

.search {

  width: 100%;

        padding: 12px 24px;

        background-color: transparent;

        font-size: 14px;

        line-height: 18px;

        color: #575756;

        background-color: transparent;

        margin-left: 0px;

        box-shadow: inset 0px 0px 0px 4px #ddd6e8;

}